definitions:
  model.Goods:
    properties:
      goodsId:
        description: 商品id
        type: integer
      goodsName:
        description: 商品名字
        type: string
      price:
        description: 商品价格
        type: string
      stock:
        description: 商品库存
        type: integer
      subject:
        description: 商品描述
        type: string
    type: object
  swag.ResultContGoods:
    properties:
      code:
        description: 代码,0:成功，非0:失败
        example: 0
        type: integer
      data:
        $ref: '#/definitions/model.Goods'
        description: 返回的数据
      msg:
        description: 报错信息
        example: 错误
        type: string
    type: object
  swag.ResultContGoodsList:
    properties:
      code:
        description: 代码,0:成功，非0:失败
        example: 0
        type: integer
      data:
        description: 商品列表
        items:
          $ref: '#/definitions/model.Goods'
        type: array
      msg:
        description: 报错信息
        example: 错误
        type: string
    type: object
host: api.estorelhd.com
info:
  contact:
    email: 371125307@qq.com
    name: API Support
    url: http://www.swagger.io/support
  description: 电商平台，api接口站的文档内容.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: 电商接口站文档
  version: "1.0"
paths:
  /index/goodslist:
    get:
      description: 显示商品列表
      parameters:
      - description: 分类id
        in: path
        name: categoryId
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/swag.ResultContGoodsList'
      summary: 商品列表
  /index/goodsone/{goodsid}:
    get:
      description: 显示商品的详情
      parameters:
      - description: 商品id
        in: path
        name: goodsid
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/swag.ResultContGoods'
      summary: 商品详情
swagger: "2.0"
